/ = simple_format @user.to_yaml
/ = simple_format @user.authorization.to_yaml
= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.fields_for :authorization do |builder|
      = builder.label :password
      = builder.text_field :password, :value => @user.authorization.new_password
  .actions
    = f.submit 'Log In'