= form_for @authorization do |f|
  - if @authorization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @authorization.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.fields_for :user do |builder|
      = builder.label :email
      = builder.text_field :email
  .field
    = f.label :password
    = f.text_field :password, :value => @authorization.new_password
  .actions
    = f.submit 'Log In'
