= form_for @authorization do |f|
  - if @authorization.errors.any?
    #error_explanation
      %h2= "#{pluralize(@authorization.errors.count, "error")} prohibited this authorization from being saved:"
      %ul
        - @authorization.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :authorized
    = f.check_box :authorized
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
