!!!
%html
  %head
    %title EInvite
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if flash[:alert]
      %p#error 
        = flash[:alert]
    - if flash[:notice]
      %p#notice 
        = flash[:notice]
    - if signed_in?
      Welcome, #{current_user.email}
      \|
      = link_to 'Log Out', logout_path, :method => :delete
    = yield
    - if Rails.env.development?
      = debug(params) 
      = simple_format request.referer.to_yaml

